{% extends 'base.html' %}
{%block title%}Pizzeria{%endblock%}
{%block sidebar%}
<div class="text-center">
    <img class="img-circle" src="{{MEDIA_URL}}{{request.user.pizzashop.logo}}" width="70" height="70">
    <br/>
    <br/>
    <h4>Hello, {{request.user.get_full_name}}</h4>
    <h5>{{request.user.pizzashop.name}}</h5>



</div>
<div class="list-group">
        <span class="text-uppercase">Menu</span>
        <a href="{% url 'pizzashop-pizza'%}" class="list-group-item">PIZZA</a>
        <span class="text-uppercase">Profile</span>
        <a href="{% url 'pizzashop-account'%}" class="list-group-item">Profile</a>
    </div>
    <div class="text-center">
        <a href="{% url 'pizzashop-sign-out'%}?next={{request.path}}" class="btn btn-red">Sign out</a>
    </div>
<hr/>

{%endblock%}