{% extends 'base_signup.html' %}
{%load bootstrap3%}
{%block title%}Registration{%endblock%}
{%block heading%}
Registration page.
{%endblock%}
{%block content%}
    <form method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <h3>Pizzashop owner info</h3>
            {%bootstrap_form user_form %}
            <h3>Pizzashop info</h3>
            {%bootstrap_form pizzashop_form %}
        <button type="submit" class="btn btn-red pull-right">Registrate</button>

    </form>
    <a href="{% url 'pizzashop-sign-in'%}">Do you have a profile?</a>
{%endblock%}

